@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');

body {
    background-color: floralwhite;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
}
header {
	padding-top: 50px;
}
header > h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 80px;
}

.quote {
	font-family: 'Cookie', cursive;
	padding: 50px;
}
.author {
	font-family: 'Amatic SC', cursive;	
	font-weight: bold;
}
.box {
	background: rgba(255,255,255,0.7);
	border-radius: 25px;
	width: 40%;
	margin: 0 auto;
}
.btn-default {
	font-size: 20px;
}